<br />
		<table class="table table-hover">
    <thead>
        <tr>
            <th>Тип</th>
            <th>Информация</th>
        </tr>
    </thead>
    <tbody>
                <tr>
            <td>Учреждение</td>
            <td>ВУЗ "*****"</td>
        </tr>
        <tr>
            <td>Телефон</td>
            <td>+79*********</td>
        </tr>
        <tr>
            <td>Поддержка</td>
            <td>Почта(скрыта)</td>
        </tr>
        <tr>
            <td>Разработчик</td>
            <td>A.Spornov</td>
        </tr>

    </tbody>
</table>
    
    <br class="clearfix" />
    <div id="footer">Комиссия © 2014</div>
</body>
</html>