<br />
        <table class="table table-hover">
        <thead>
            <tr>
                <th style="text-align:left">Документы:</th>
                <th>Скачать</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Правила приёма в ВУЗ</td>
                <td><center><a href="Content/documents/prav.doc" title="Скачать">
                    <img src="images/scrap.png" /></a></td>
            </tr>
            <tr>
                <td>Расписание проведения единого государственного экзамена  в 2014 году</td>
                <td><center><a href="Content/documents/ege.doc" title="Скачать">
                    <img src="images/scrap.png" /></a></td>
            </tr>
            <tr>
                <td>Минимальные баллы ЕГЭ 2014</td>
                <td><center><a href="Content/documents/minval.doc" title="Скачать">
                    <img src="images/scrap.png" /></a></td>
            </tr>
            <tr>
                <td>Направления по приёму абитуриентов на базе 9 классов</td>
                <td><center><a href="Content/documents/class9.doc" title="Скачать">
                    <img src="images/scrap.png" /></a></td>
            </tr>
            <tr>
                <td>Направления по приёму абитуриентов на базе 11 классов</td>
                <td><center><a href="Content/documents/class11.doc" title="Скачать">
                    <img src="images/scrap.png" /></a></td>
            </tr>
            <tr>
                <td>Приём заявлений и необходимых документов в электронно-цифровой форме</td>
                <td><center><a href="Content/documents/electro.doc" title="Скачать">
                    <img src="images/scrap.png" /></a></td>
            </tr>
            <tr>
                <td>Заочное отделение</td>
                <td><center><a href="Content/documents/ozo.doc" title="Скачать">
                    <img src="images/scrap.png" /></a></td>
            </tr>
        </tbody>
    </table>

                </div>
            </div>
        <br class="clearfix" />
        <div id="footer">Комиссия © 2014</div>    
</body>
</html>
