<div id="menu">    <!--Navigation-->
				<input type="checkbox" id="respective" name="menu"><a><label id="label" class="symbol" for="respective" onclick></label></a></input>
	    <ul class="left" >
                <li class="responsive" ng-class="homeActive"><a href="/#/" ng-click="setActive('home')">HOME</a></li>
                <li class="responsive" ng-class="searchActive"><a href="/#/search" ng-click="setActive('search')">Комиссия</a></li>
                <li class="responsive" ng-class="contactActive"><a href="/#/contacts" ng-click="setActive('contact')">Контакт</a></li>
            <li id="settings" class="responsive"><a>Preview</a>
<!-- 				<ul class="themes">
				<li><a>Темы:</a></li>
				<li><a>Малина <input class="theme" value="malline" type="radio" name="malline"/></a></li>
				<li><a>Колибри <input class="theme" value="gr.blue" type="radio" name="malline"/></a></li>
				<li><a>Маникен <input class="theme" value="dr.blue" type="radio" name="malline"/></a></li>
				<li><a>Гроза <input class="theme" value="smoke" type="radio" name="malline"/></a></li>
				</ul>			
 -->			</li>
			<li id="mobile">
				<ul>
				<li><a href="/#/">Информация</a></li>
				<li><a href="/#/entrants">Управление</a></li>
				<li><a href="/#/search">Комиссия</a></li>
				<li><a href="#">Настройки</a></li>
				<li><a href="#">Контакт</a></li>
				<li><a href="#">Выход</a></li>
				</ul>
			</li>
       </ul>
</div>