/*
**  ======================
**  THEME : ALL GREEN BLUE
**  ======================
*/
   
.title{border-left:dashed 2px #002849;border-right:dashed 2px #002849;border-top:dashed 2px #002849;color:#002849;}
.table-hover thead tr th {color: white;background: #002849 ;}
.table tbody td{border-right:dashed 1px #002849;text-align:left;color:black}
.table tbody td:first-child {border-left:solid 1px #002849 }
.table tbody td:last-child {border-right:solid 1px #002849;}
.table thead th:last-child {border-right:solid 1px #002849;}
.add td{text-align: center;backgroun-color: #FFFFFF;color: #002849;border-bottom: solid #002849 2px;border-top: solid #002849 2px;}
.table-hover tbody tr{border-top: solid 1px #002849;border-bottom: solid 1px #002849;}
.hidden {border-bottom:solid 1px #002849;border-top: solid 1px #002849;display: none; }

#menu {background-color: #002849;border-bottom:2px solid white}
#menu ul li a:hover {background-color:white;color: #002849;}
#menu ul li a {background: #002849;}
#navigation li {color: #002849;}